/** MOBILE VERSION **/  

@media (max-width: 520px){
    .header {
        background-image: url(../images/mobile/image-header.jpg);
    }

    .header__title h1 {
        font-size: 2.5rem;
    }

    .grid__container {
        grid-template-rows: 300px 450px 300px 450px 550px 550px;
    }

    .grid__container__item {
        padding: 3.5rem;
        width: 100%;
    }

    .grid__container__text__absolute {
        width: 100%;
        padding-bottom: 0;
    }

    .item-2 {
        background-image: url(../images/mobile/image-transform.jpg);
    }
    
    .item-3 {
        background-image: url(../images/mobile/image-stand-out.jpg);
    }
    
    .item-5 {
        background-image: url(../images/mobile/image-graphic-design.jpg);
    }
    
    .item-6 {
        background-image: url(../images/mobile/image-photography.jpg);
    }

    .images__container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 200px);
    }

    .images__container-1 {
        background-image: url(../images/mobile/image-gallery-milkbottles.jpg);
    }
    
    .images__container-2 {
        background-image: url(../images/mobile/image-gallery-orange.jpg);
    }
    .images__container-3 {
        background-image: url(../images/mobile/image-gallery-cone.jpg);
    }
    
    .images__container-4 {
        background-image: url(../images/mobile/image-gallery-sugar-cubes.jpg);
    }
    
}

@media (max-width: 820px){

    .header {
        position: relative;
    }

    .header__nav {
       position: absolute;
       display: none;
       flex-direction: column;
       background-color: #fff;
       padding: 1.5rem 5rem;
       top: 100px;
       right: 32px;
       width: 80%;
       text-align: center;
    }

    .header__nav--active {
        display: flex;
    }

    .header__nav::before {
        content: "";
        position: absolute;
        top: -30px;
        right: 0;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid #fff;
        border-bottom: 15px solid #fff;
        border-left: 15px solid transparent; 
    }

    .header__nav__link {
        color: rgb(127,125,133);
    }

    .header__nav__link:hover {
        font-family: 'Fraunces', serif;
        font-size: 0.9rem;
        text-transform: uppercase;
        background-color: hsla(51, 100%, 49%, 0.151);
    }

    .header__nav__link--active, .header__nav__link--active:hover {
        background-color: hsl(51, 100%, 49%);
        font-family: 'Fraunces', serif;
        font-size: 0.9rem;
        text-transform: uppercase;
        color: #000;
    }

    .icon-menu {
        display: block;
    }

    .grid__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 350px 450px 350px 450px 550px 550px;
        text-align: center;
    }

    .item-1 {
       order: 2;
    }

    .item-2 {
       order: 1;
    }

    .item-3, .item-4, .item-5, .item-6 {
        order: 3;
    }

    .grid__container__item__link:hover::before {
        right: 0;
        margin: auto;
    }
    
    .testimonials__container {
        flex-direction: column;
    }
}